<div class="column">
    <nav class="panel">
        <p class="panel-heading">Who to follow</p>
    </nav>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32"><img src="https://bulma.io/images/placeholders/64x64.png"></figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Julie</strong><br>
                        <small>@juju</small>
                    </p>
                </div>
            </div>
        </article>
    </div> 
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32"><img src="https://bulma.io/images/placeholders/64x64.png"></figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Dino</strong><br>
                        <small>@dino</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32"><img src="https://bulma.io/images/placeholders/64x64.png"></figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>uisque</strong><br>
                        <small>@uisque</small>
                    </p>
                </div>
            </div>
        </article>
    </div>   
</div>